@use "./../colors" as *;

.seasons {
  --bgRotation: 0deg;

  width: 140vw;
  margin-left: -40vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  background:
    radial-gradient(circle at center, white, transparent 300px),
    conic-gradient(
      from var(--bgRotation) at 50% 50%,
      $blueColor 17deg,
      $pinkColor 73deg,
      $pinkColor 108deg,
      $greenColor 172deg,
      $greenColor 194deg,
      $yellowColor 265deg,
      $yellowColor 284deg,
      $blueColor 345deg
    );

  @media (max-width: 1200px) {
    padding-top: 24vh;
    margin: unset;
    width: unset;
    --bgRotation: -90deg;
  }
}

.circleWrapper {
  position: relative;
  @media (max-width: 800px) {
    scale: 0.6;
  }
}

.circle {
  position: relative;
  width: calc(2 * var(--circle-radius));
  height: calc(2 * var(--circle-radius));
  border: 1px solid $darkGrayColor;
  border-radius: 50%;
  transform: rotate(var(--rotationAngle));
  transition: transform 1s ease-in-out;
}
