$lightGrayColor: #c8ceda;
$darkGrayColor: #333;

.circleWrapper {
  position: relative;
}

.circle {
  position: relative;
  width: calc(2 * var(--circle-radius));
  height: calc(2 * var(--circle-radius));
  border: 1px solid $darkGrayColor;
  border-radius: 50%;
  transform: rotate(var(--rotationAngle));
  transition: transform 1s ease-in-out;
  &::before {
  }
}
