@use "./../colors" as *;

.switcherText {
  position: absolute;
  left: calc(7vw + var(--switcher-radius));
  top: 0;
  animation: slowAppear 2s linear;
  width: 23vw;

  .name {
    margin: 0;
    font-size: var(--switcher-radius);
  }
  .phrase {
    position: relative;
    quotes: "「" "」" "„" "“";
    margin: 3em 2em 5em;
    animation: slowAppear 2s linear;
    &::before {
      content: open-quote;
      position: absolute;
      left: -1.5em;
      top: -0.25em;
      font-size: 2em;
      font-weight: bold;
      color: $accentGrayColor;
      animation: slowAppear 2s linear;
    }
    &::after {
      content: close-quote;
      position: absolute;
      right: -1.5em;
      bottom: -0.5em;
      font-size: 2em;
      font-weight: bold;
      color: $accentGrayColor;
      animation: slowAppear 2s linear;
    }
  }
  a {
    display: block;
    margin: 1em 0;
  }

  @media (max-width: 1200px) {
    left: unset;
    top: unset;
    bottom: 24vh;
    right: 0;
    width: calc(2 * var(--circle-radius));
    text-align: right;
  }
  @media (max-width: 800px) {
    font-size: 1.8em;
  }
}

@keyframes slowAppear {
  0% {
    color: transparent;
  }
  50% {
    color: transparent;
  }
  100% {
    color: $darkGrayColor;
  }
}
