.switcherText {
  position: absolute;
  left: calc(7vw + var(--switcher-radius));
  top: 0;
  color: #333;
  animation: slowAppear 2s linear;
  width: 23vw;

  .name {
    margin: 0;
    // animation: slowAppear 4s linear;
    font-size: var(--switcher-radius);
  }
  .phrase {
    position: relative;
    margin: 0;
    quotes: "「" "」" "„" "“";
    margin: 3em 2em 5em;
    animation: slowAppear 2s linear;
    &::before {
      content: open-quote;
      position: absolute;
      left: -1.5em;
      top: -0.25em;
      font-size: 2em;
      font-weight: bold;
      color: #666;
      animation: slowAppear 2s linear;
    }
    &::after {
      content: close-quote;
      position: absolute;
      right: -1.5em;
      bottom: -0.5em;
      font-size: 2em;
      font-weight: bold;
      color: #666;
      animation: slowAppear 2s linear;
    }
  }
  a {
    display: block;
    margin: 1em 0;
    animation: slowAppear 3s linear;
    &:hover {
      text-decoration: none;
    }
  }
}

@keyframes slowAppear {
  0% {
    color: transparent;
  }
  50% {
    color: transparent;
  }
  100% {
    color: #333;
  }
}
