@use "./../colors" as *;

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: $darkGrayColor;
  a {
    color: inherit;
    &:hover {
      color: $accentGrayColor;
    }
  }

  .contentWrapper {
    margin: 2em 10%;
    max-width: 800px;
    position: relative;
    h1 {
      font-style: italic;
      color: $pinkColor;
      font-size: 3em;
      font-family: georgia;
    }
    &::before {
      content: "❀";
      position: fixed;
      right: -20vw;
      top: 0;
      font-size: 100vw;
      line-height: 1em;
      color: rgba(200, 200, 200, 0.2);
      z-index: -1;
      transform: translateY(calc(100px - 0.1em));
    }
  }
}
