@use "./../colors" as *;

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  flex-grow: 1;
  .spring {
    position: relative;
    h1 {
      font-family: georgia;
      font-weight: bold;
      font-style: italic;
      font-size: 14em;
      color: $pinkColor;
      margin: 0;
    }

    &::before {
      content: "❀";
      position: absolute;
      font-size: 5em;
      background-image: radial-gradient(
        circle,
        $pinkColor 50%,
        transparent 50%
      );
      width: 1em;
      height: 1em;
      left: 50%;
      top: -0.5em;
      color: #333;
    }
  }
  section {
    font-style: italic;
    text-align: center;
    margin: 0 0 3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .help {
      color: $accentGrayColor;
    }
    .motto {
      font-style: italic;
      color: $pinkColor;
    }
    a {
      border-radius: 1em;
      padding: 1em;
      margin: 1em;
      display: block;
      text-decoration: none;
      &.project {
        background-color: $pinkColor;
      }
      &.stories {
        background-color: $lightGrayColor;
      }
      &:hover {
        color: white;
        box-shadow: 0 0 10px $lightGrayColor;
      }
    }
  }
}
